<div class="page">
    <div class="align-flex-column mt-4" *ngIf="restoredGuide">
        <div class="title">
            <h1>Modificar información básica sobre la guía</h1>
        </div>
        <div class="white-card-guide-info">
            <form class="example-form" [formGroup]="guideInfo" *ngIf="isModifyGuideInfo">
                <mat-form-field class="example-full-width" appareance="fill">
                    <mat-label>Título</mat-label>
                    <input type="text" matInput #inputTitle minlength="10" maxlength="50" formControlName="title"
                        placeholder="Título de la guía">
                    <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
                    <mat-error *ngIf="guideInfo.controls.title.hasError('required')">
                        <strong>Es necesario el título de la guía</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appareance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea type="text" matInput formControlName="description"
                        placeholder="Breve descripción de la guía" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" #inputDescription minlength="40"
                        maxlength="100"></textarea>
                    <mat-hint align="start">{{inputDescription.value.length}}/100 (mínimo 40 caracteres)</mat-hint>
                    <mat-error *ngIf="guideInfo.controls.description.hasError('required')">
                        <strong>Es necesaria una descripción de la guía</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                    <mat-label>Tipos de la guía *</mat-label>
                    <mat-chip-grid #chipGrid1 aria-label="Guide types">
                        @for (guideType of chosenTypes; track guideType) {
                        <mat-chip-row (removed)="removeType(guideType)">
                            {{guideType}}
                            <button matChipRemove [attr.aria-label]="'remove ' + guideType">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                    </mat-chip-grid>
                    <input placeholder="Introduzca los tipos de guía" #guideTypeInput formControlName="guideTypes"
                        [matChipInputFor]="chipGrid1" [matAutocomplete]="auto" />
                    <mat-hint align="start">{{chosenTypes.length}}/5 (mínimo 1 tipo de guía)</mat-hint>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedType($event)">
                        @for (guideType of filteredTypes | async; track guideType) {
                        <mat-option [value]="guideType" *ngIf="!chosenTypes.includes(guideType | titlecase)">
                            {{guideType | titlecase}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                    <mat-label>Ingredientes / materiales</mat-label>
                    <mat-chip-grid #chipGrid2 aria-label="Enter ingredients">
                        @for (ingredient of ingredients; track ingredient) {
                        <mat-chip-row #chipRow2 (removed)="removeIngredient(ingredient)" [editable]="true"
                            (edited)="editIngredient(ingredient, $event)"
                            [aria-description]="'press enter to edit ' + ingredient">
                            {{ingredient}}
                            <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input placeholder="Introduzca ingredientes o materiales necesarios para la guía"
                            formControlName="ingredients" [matChipInputFor]="chipGrid2"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodesIngredients"
                            [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="addIngredient($event)" />
                    </mat-chip-grid>
                </mat-form-field>
                <input type="file" formControlName="imageFile" accept="image/*" class="image-input"
                    (change)="updateGuideThumbnail($event)">
                <div class="align-flex-column mt-3 mb-3" *ngIf="restoredGuide.thumbnail || guideThumbnailLoaded">
                    <p>Imagen actualmente seleccionada</p>
                    <button type="button" mat-flat-button class="button-space mx-5" color="warn"
                        *ngIf="isModifyGuideInfo" (click)="deleteImage()">Eliminar imagen</button>
                    <img [src]="restoredGuide.thumbnail ? 'data:image/jpeg;base64,' + restoredGuide.thumbnail : guideThumbnailLoaded">
                </div>
                <mat-slide-toggle class="mt-4 mb-4 mx-2" [checked]="isPublished" (change)="changePublished()"
                    [disabled]="this.restoredGuide.amountSteps < 5">
                    <strong>Estado de la guía: {{ isPublished ? 'publicado' : 'no publicado' }}</strong></mat-slide-toggle>
                <p *ngIf="this.restoredGuide.amountSteps < 5">La guía debe tener 5 o más pasos para ser publicada</p>
            </form>
            <div *ngIf="!isModifyGuideInfo" class="guide-info">
                <p><strong>Título: </strong>{{ guideInfo.controls.title.getRawValue() }}</p>
                <p><strong>Descripción: </strong>{{ guideInfo.controls.description.getRawValue() }}</p>
                <p><strong>Tipos de la guía: </strong>{{ listToString(chosenTypes) | titlecase }}</p>
                <p><strong>Ingredientes/materiales: </strong>
                    @if(ingredients.length > 0) {
                    <mat-chip-set aria-label="Fish selection">
                        @for(ingredient of ingredients; track ingredient) {
                        <mat-chip>{{ ingredient }}</mat-chip>
                        }
                    </mat-chip-set>
                    }
                </p>
                <p><strong>Estado de la guía: </strong>{{ isPublished ? 'Publicada' : 'No publicada' }}</p>
                <div class="align-flex-column mt-3 mb-3" *ngIf="restoredGuide.thumbnail || guideThumbnailLoaded">
                    <p><strong>Imagen actualmente seleccionada</strong></p>
                    <img [src]="restoredGuide.thumbnail ? 'data:image/jpeg;base64,' + restoredGuide.thumbnail : guideThumbnailLoaded">
                </div>
            </div>
            <div class="options-bottom">
                <button mat-flat-button class="button-space mx-4" color="warn" routerLink="/tutodo/guide-modify"
                    routerLinkActive="active">
                    Volver a modificar pasos</button>
                <button mat-flat-button class="button-space mx-4" color="warn" (click)="cancelChanges()"
                    *ngIf="isModifyGuideInfo">Cancelar cambios</button>
                <button mat-flat-button [disabled]="!guideInfo.valid || chosenTypes.length < 1"
                    class="button-space mx-4" color="primary" (click)="saveGuideInfo()"
                    *ngIf="isModifyGuideInfo">Guardar información</button>
                <button mat-flat-button *ngIf="!isModifyGuideInfo" class="button-space mx-4" color="primary"
                    color="accent" (click)="modifyGuideInfo()">Modificar información</button>
            </div>
        </div>
    </div>
</div>