.navBorder {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4px;
  margin-left: 10px;

  p {
    margin-bottom: 0px;
  }

}

.alignElements {
  height: fit-content;
  padding: 0px;
}

.alignIcon {
  height: fit-content;
  padding-bottom: 4px;
}