<nav class="navbar sticky-top navBorder navbar-expand-lg bg-body-tertiary">
    <div class="navbarRow">
        <div class="leftColumn">
            <a class="navbar-brand alignElements mx-3" routerLink="/home" routerLinkActive="active">TutoDo</a>
            <a class="nav-link active alignElements" aria-current="page" routerLink="/home"
                routerLinkActive="active">Página principal</a>
            <mat-icon class="mx-1 alignIcon" aria-hidden="false" aria-label="home">home</mat-icon>
            <li class="nav-item dropdown spaceOptionsLeft">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Guías
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/home/guide-create"
                        routerLinkActive="active">Crear guía</a></li>
                    <li><a class="dropdown-item" href="#">Búsqueda de guías</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Mis guías</a></li>
                </ul>
            </li>
            <form class="d-flex mx-3">
                <input class="form-control me-2" type="search" placeholder="Búsqueda rápida" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <mat-icon class="pt-1" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </form>
        </div>
        <div class="rightColumn">
            <p class="nav-link active alignElements mx-2">Usuario</p>
            <mat-icon class="spaceOptionsRight" aria-hidden="false" aria-label="settings">account_circle</mat-icon>
            <p class="nav-link active alignElements mx-2">Opciones</p>
            <mat-icon class="spaceOptionsRight" aria-hidden="false" aria-label="settings">settings</mat-icon>
        </div>
    </div>
</nav>