.nav-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
  @media(max-width: 1044px) {
    position: sticky;
  }
}

.navbar-brand {
  padding: 0px;
}

.navbar-collapse {

  ul li,
  ul form,
  div {
    @media(max-width: 768px) {
      margin: 5px 0px;
    }
  }
}

.align-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4px;
  padding-left: 20px;

  p {
    margin-bottom: 0px;
    margin-right: 8px;
  }

  &.user {
    margin-right: 90px;
  }

  @media(max-width: 768px) {
    margin: 0px;
  }
}

.align-elements {
  height: fit-content;
  padding: 0px;
  margin: 0px;
}

.align-icon {
  height: fit-content;
  padding-bottom: 4px;
}