.navBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
}

.navbar-brand {
  padding: 0px;
}

.alignFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4px;
  margin-left: 10px;

  p {
    margin-bottom: 0px;
  }

}

.alignElements {
  height: fit-content;
  padding: 0px;
}

.alignIcon {
  height: fit-content;
  padding-bottom: 4px;
}