.login-inputs {
  width: 100%;
  height: fit-content;
  background-color: #eff8fc;
  border-radius: 20px;
  border: 1px solid black;
}

.column-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h2, h3, mat-label, p {
  text-align: center;
}

.row-align {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

mat-form-field {
  width: 90%;
  margin: 10px 5px;
}

.button-space {
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  border-radius: 20px;
  margin: 0px 0px;
  width: 100%;
  height: 100%;
}

.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 1024px) {
    display: none;
  }
}