<div class="verify-input">
    <div class="align-flex-column" *ngIf="codeChecked">
        <h1>Verificación de cuenta</h1>
        <h2>Su cuenta require de verificación para poder acceder al sistema</h2>
        <h3>Deberá realizar esta verificación mediante un código enviado
            a la dirección de correo electrónico asociada la cuenta</h3>
        @if(codeSent) {
        <form class="example-form" [formGroup]="verificationInfo">
            <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Código de verificación</mat-label>
                <input type="text" [maxLength]="8" matInput formControlName="code" placeholder="Introduzca el código">
            </mat-form-field>
        </form>
        }
        @if(!codeSent) {
        <button mat-flat-button class="button-space mx-4" color="primary" (click)="sendCode()">Enviar código</button>
        <mat-error *ngIf="verifyMessage !== ''">
            <strong>{{ verifyMessage }}</strong>
        </mat-error>
        }
        @else {
        <button mat-flat-button class="button-space mx-4" color="primary" (click)="verifyCode()"
            [disabled]="!verificationInfo.valid">Comprobar código</button>
        <button mat-button class="button-space" color="accent" (click)="sendCode()">Reenviar código</button>
        }
    </div>
</div>