.page {
  height: 96%;
  background: #a8ff78;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 12px 0px;
  border-radius: 20px;
  border: 1px solid rgb(180, 160, 160);
  @media (max-width: 1400px) {
    height: 85%;
  }
}

.mainColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#presentation {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginInputs {
  padding: 20px;
  width: 60%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}