.page {
  height: 100vh;
  background: #a8ff78;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  @media (max-width: 1200px) {
    height: fit-content;
  }
}

.mainColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loginInputs {
  width: 75%;
  height: fit-content;
  background-color: #eff8fc;
  border-radius: 20px;
  border: 1px solid black;
}