<div class="page">
  <div class="alignFlexColumn">
    <div class="optionsDivTop sticky-top">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="saveProgress()">Guardar cambios</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item" type="button" (click)="showInfo()">Información</button></li>
          <li><button class="dropdown-item" type="button" (click)="showInfo()">Publicar guía</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" type="button" (click)="showInfo()">Modificar información básica</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" type="button" (click)="showInfo()">Salir del creador</button></li>
        </ul>
      </div>
    </div>
    <div id="stepInput">
      <form [formGroup]="stepsForm">
        <div formArrayName="steps" class="alignFlexColumn">
          <div *ngFor="let step of steps.controls; let i = index" class="alignFlexColumn">
            <div [formGroupName]="i" class="whiteCard-step"
              *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)">
              <h2>Paso número {{i+1}}</h2>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Título</mat-label>
                <input type="text" matInput #inputTitle formControlName="title" placeholder="Título del paso {{i+1}}"
                  [maxLength]="50">
                <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
                <mat-error *ngIf="step.get('title')?.touched && step.get('title')?.hasError('required')">
                  <strong>Es necesario el título de la guía</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Descripción</mat-label>
                <textarea type="text" matInput formControlName="description" placeholder="Breve descripción de la guía"
                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  #inputDescription [maxLength]="200"></textarea>
                <mat-hint align="start">{{inputDescription.value.length}}/200 (mínimo 50 caracteres)</mat-hint>
                <mat-error *ngIf="step.get('description')?.touched && step.get('description')?.hasError('required')">
                  <strong>Es necesaria una descripción del paso</strong>
                </mat-error>
              </mat-form-field>
              <div class="alignFlex mt-4">
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="steps.controls.length > 1" (click)="cancelStep(i)">Cancelar</button>
                <button type="button" mat-flat-button [disabled]="!step.valid" class="buttonSpace mx-5" color="primary"
                  (click)="saveStep(i)" *ngIf="!step.get('saved')?.value">Guardar paso</button>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="accent" (click)="modifyStep(i)"
                  *ngIf="step.get('saved')?.value">Modificar paso</button>
              </div>
            </div>
            <button type="button" mat-flat-button color="primary mb-5" (click)="addStep(i)"
              *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)">Insertar paso</button>
          </div>
        </div>
      </form>
    </div>
    <div class="optionsDiv sticky-bottom">
      <mat-slide-toggle class="whiteCard-info" [checked]="isPublished" (change)="changePublished()">Estado de la guía:
        {{ isPublished ? 'publicado' : 'no publicado' }}</mat-slide-toggle>
    </div>
    <div class="alignFlexRow sticky-bottom">
      <mat-paginator class="mx-4" #paginator [length]="steps.controls.length" [pageSize]="4"
        [pageSizeOptions]="[4, 8, 20]" aria-label="Select page" [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>