<div class="verify-input">
    <div class="align-flex-column mt-4">
        <h1>Recuperación de contraseña</h1>
        <h2>Para recuperar la contraseña, deberá verificar el proceso</h2>
        <h3>Deberá realizar esta verificación mediante un código enviado
            a la dirección de correo electrónico asociada la cuenta</h3>
        @if(codeConfirmed) {
        <form [formGroup]="passwordInfo">
            <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" #passwordRegister matInput [maxLength]="256" formControlName="password"
                    placeholder="Contraseña" [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if(passwordRegister.value === '') {
                <mat-hint align="start">La contraseña debe contener al menos 8 caracteres, incluyendo una letra
                    mayuscula, una letra minúscula y un número</mat-hint>
                }
                <mat-error *ngIf="passwordInfo.controls.password.hasError('required')">
                    <strong>Se requiere la contraseña</strong>
                </mat-error>
                <mat-error *ngIf="passwordInfo.controls.password.hasError('pattern')">
                    <strong>La contraseña debe contener al menos 8 caracteres, incluyendo una letra mayuscula,
                        una letra minúscula y un número</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Confirmar contraseña</mat-label>
                <input type="password" [minLength]="8" [maxLength]="256" matInput formControlName="passwordConfirm"
                    placeholder="Contraseña" [type]="hidePasswordConfirm ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm">
                    <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordInfo.controls.passwordConfirm.hasError('required')">
                    <strong>Se requiere la contraseña</strong>
                </mat-error>
            </mat-form-field>
            <button mat-flat-button class="button-space mx-4" color="primary" (click)="resetPassword()">Cambiar contraseña</button>
            <!-- <mat-error *ngIf="resetMessage !== ''">
                <strong>{{ resetMessage }}</strong>
            </mat-error> -->
        </form>
        }
        @else {
        @if(codeSent) {
        <form class="example-form" [formGroup]="verificationInfo">
            <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Código de verificación</mat-label>
                <input type="text" [maxLength]="8" matInput formControlName="code" placeholder="Introduzca el código">
            </mat-form-field>
        </form>
        }
        @if(!codeSent) {
        <form [formGroup]="emailInfo">
            <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" [minLength]="8" [maxLength]="100" matInput formControlName="email"
                    placeholder="ejemplo@gmail.com">
                <mat-error *ngIf="emailInfo.controls.email.hasError('required')">
                    <strong>Se requiere el correo electrónico</strong>
                </mat-error>
                <mat-error *ngIf="emailInfo.controls.email.hasError('pattern')">
                    <strong>Debe cumplir el formato de correo electrónico</strong>
                </mat-error>
            </mat-form-field>
        </form>
        <button mat-flat-button class="button-space mx-4" color="primary" (click)="sendCode()" [disabled]="!emailInfo.valid">Enviar código</button>
        }
        @else {
        <button mat-flat-button class="button-space mx-4" color="primary" (click)="verifyCode()"
            [disabled]="!verificationInfo.valid">Comprobar código</button>
        <button mat-button class="button-space" color="accent" (click)="sendCode()">Reenviar código</button>
        }
        }
        <mat-error class="process-info" *ngIf="resetMessage !== ''">
            <strong>{{ resetMessage }}</strong>
        </mat-error>
    </div>
</div>