/* You can add global styles to this file, and also import other style files */

html, body { height: 98%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.warning-info {
  border: 2px solid red;
}

.info {
  border: 2px solid blue;
}