<!-- Página -->
<div class="page">
  <div class="align-flex-column" *ngIf="guideWatching">
    <div class="gradient-border info-spacing">
      <div class="gradient-content title-content">
        <h1>{{ guideWatching.title }}</h1>
        <h2>{{ guideWatching.description }}</h2>
        <h2>Guía sobre {{ formatGuideTypes() | lowercase }}</h2>
        <h3 *ngIf="userData"><strong>Usuario creador: </strong>{{ guideWatching.username }}</h3>
        <h3><strong>Puntuación media: </strong>{{ guideWatching.ratingMean }}</h3>
        <div class="align-flex-row options">
          @if(!findGuideIsSaved(guideWatching.id)) {
          <button type="button" mat-flat-button color="accent" class="button-space" 
            (click)="addSaved(guideWatching.id)">Añadir a guardados</button>
          }
          @else {
          <button type="button" mat-flat-button color="warn" class="button-space" 
            (click)="deleteSaved(guideWatching.id)">Eliminar de guardados</button>
          }
          <button type="button" mat-flat-button data-bs-toggle="offcanvas" href="#offcanvasSteps" class="button-space"
            color="primary" aria-controls="offcanvasSteps">Pasos de la guía</button>
          <button type="button" mat-flat-button data-bs-toggle="offcanvas" href="#offcanvasIngredients"
            class="button-space" color="primary" aria-controls="offcanvasIngredients">Ingredientes/materiales</button>
        </div>
      </div>
    </div>
    <div class="guide-container">
      <div *ngFor="let step of guideWatching.steps; let i = index;" [class.step-layout]="true"
        [ngClass]="{ 'step-completed': i < currentStep, 'current-step': i === currentStep, 'step-uncompleted': i > currentStep }">
        <h2 [id]="'step' + (i + 1)">Paso {{ i + 1 }}</h2>
        <h3>{{ step.title }}</h3>
        <h4>{{ step.description }}</h4>
        <div class="align-flex-column mt-3 mb-3" *ngIf="step.image !== ''">
          <img mat-card-image [src]="'data:image/jpeg;base64,' + step.image"
            alt="No se ha podido cargar la imagen correctamente">
        </div>
        <div class="align-flex-row">
          <a type="button" *ngIf="i === currentStep" (click)="nextStep()" mat-flat-button class="button-space"
            color="primary" [href]="'/tutodo/guide-see/' + guideWatching.id + '#step' + (i + 1)" target="_self">Marcar
            paso como completado</a>
          <a type="button" *ngIf="i === currentStep && i !== 0" (click)="previousStep()" mat-flat-button
            class="button-space" color="accent" [href]="'/tutodo/guide-see/' + guideWatching.id + '#step' + (i - 1)"
            target="_self">Volver al paso anterior</a>
        </div>
      </div>
      <div class="align-flex-column rating" *ngIf="!guideWatching.ownership && guideWatching.completed">
        <div class="align-flex-row">
          <button mat-icon-button color="accent" *ngFor="let rating of ratings; let i = index" [id]="'star_'+i"
            (click)="submitRating(i + 1)" [matTooltip]="rating.description" matTooltipPosition="above"
            class="rating-star">
            <mat-icon>
              {{ userRating >= (i + 1) ? 'star' : 'star_outlined' }}
            </mat-icon>
          </button>
        </div>
        <h2 *ngIf="!guideWatching.rated">¡Le agradeceríamos que puntuara la guía!</h2>
        <h2 *ngIf="guideWatching.rated">¡Gracias por haber puntuado la guía!</h2>
      </div>
      <div class="comments align-flex-column">
        <form [formGroup]="comment" *ngIf="!guideWatching.ownership && guideWatching.completed">
          <h2>Enviar comentario</h2>
          <mat-form-field class="example-full-width" appareance="fill">
            <mat-label>Introduzca el comentario que desea enviar</mat-label>
            <textarea type="text" matInput formControlName="text" placeholder="Ej: '¡Me ha encantado esta guía!'"
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
              #inputDescription [minLength]="50" [maxLength]="400"></textarea>
            <mat-hint align="start">{{inputDescription.value.length}}/400 (mínimo 50 caracteres)</mat-hint>
            <mat-error *ngIf="comment.controls.text.touched && comment.controls.text.hasError('minLength')">
              <strong>Es necesario que la guía contenga el mínimo de caracteres</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <button type="button" mat-flat-button class="button-space" color="primary" (click)="submitComment()"
              [disabled]="(guideWatching.ownership || !comment.valid) && guideWatching.completed">Publicar
              comentario</button>
          </div>
        </form>
        <div class="posted-comments">
          <div class="comment-container-title">
            <h2>Caja de comentarios</h2>
            <mat-button-toggle-group>
              <mat-button-toggle (click)="orderCommentsByOld()">Ordenar por antigüedad</mat-button-toggle>
              <mat-button-toggle (click)="orderCommentsByNew()">Ordenar por más nuevo</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="comment-container" *ngFor="let comment of guideWatching.comments; let i = index">
            <h3>{{ comment.username }}</h3>
            <h3 *ngIf="comment.formattedDate">Fecha de publicación: {{ comment.formattedDate.toLocaleDateString() }}
            </h3>
            <p>{{ comment.text }}</p>
            <div class="align-flex-row">
              <button type="button" mat-flat-button class="button-space" color="warn" (click)="deleteComment(i)"
                *ngIf="comment.userId === userData.id || guideWatching.id === userData.id">Borrar comentario</button>
            </div>
          </div>
          <div *ngIf="guideWatching.comments.length === 0" class="comment-container">
            <h3>No hay ningun comentario publicado</h3>
          </div>
        </div>
      </div>
      <div class="align-flex-row">
        <button type="button" mat-flat-button data-bs-toggle="offcanvas" href="#offcanvasSteps" class="button-space"
          color="primary" aria-controls="offcanvasSteps">Pasos de la guía</button>
        <button type="button" mat-flat-button data-bs-toggle="offcanvas" href="#offcanvasIngredients"
          class="button-space" color="primary" aria-controls="offcanvasIngredients">Ingredientes/materiales</button>
      </div>
    </div>
    <mat-progress-bar mode="determinate" class="sticky-bottom"
      [value]="(100 / guideWatching.steps.length) * currentStep"></mat-progress-bar>
  </div>
</div>
<!-- Botones laterales -->
<!-- <div class="fixed">
  <div class="side-action">
    <a class="side-button side-action" data-bs-toggle="offcanvas" href="#offcanvasSteps" role="button"
      aria-controls="offcanvasSteps">
      <div class="button-div bg-b-blue">
        Pasos de la guía
      </div>
    </a>
    <a class="side-button side-action" data-bs-toggle="offcanvas" href="#offcanvasIngredients" role="button">
      <div class="button-div bg-b-orange">
        Ingredientes/materiales
      </div>
    </a>
  </div>
</div> -->
<!-- Offcanvas pasos -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSteps" aria-labelledby="offcanvasStepsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasStepsLabel">Pasos de la guía</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Haga click en los pasos para visualizar acciones relacionadas con la guía</p>
    <mat-stepper orientation="vertical" [linear]="false" #stepper *ngIf="guideWatching !== undefined">
      <mat-step *ngFor="let step of guideWatching.steps; let i = index;" [completed]="i < currentStep">
        <ng-template matStepLabel>{{ step.title }}</ng-template>
        <button mat-button data-bs-dismiss="offcanvas">
          <a [href]="'/tutodo/guide-see/' + guideWatching.id + '#step' + i" target="_self"
            style="text-decoration: none;">Ir al paso</a>
        </button>
      </mat-step>
    </mat-stepper>
  </div>
</div>
<!-- Offcanvas ingredientes -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasIngredients"
  aria-labelledby="offcanvasIngredientsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasIngredientsLabel">Ingredientes / materiales</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *ngIf="guideWatching">
    <p>Listado de los materiales o ingredientes necesarios para llevar a cabo la guía</p>
    <mat-list *ngFor="let ingredient of guideWatching.ingredients">
      <mat-list-item>{{ ingredient }}</mat-list-item>
    </mat-list>
    <h3 *ngIf="guideWatching.ingredients.length === 0">No hay ingredientes o materiales asociados a esta guía</h3>
  </div>
</div>