<div class="page">
  <div class="alignFlex mt-4">
    <div class="whiteCard">
      <h1>Información básica sobre la guía</h1>
      <h3>Por favor, rellene el siguiente formulario para obtener
        información esencial sobre la guía que desea crear
      </h3>
      <form class="example-form" [formGroup]="guideInfo">
        <mat-form-field class="example-full-width" appareance="fill">
          <mat-label>Título</mat-label>
          <input type="text" matInput #inputTitle minlength="10" maxlength="100"
            [formControl]="guideInfo.controls.title" placeholder="Título de la guía">
          <mat-hint align="start">{{inputTitle.value.length}}/100 (mínimo 10 caracteres)</mat-hint>
          <mat-error *ngIf="guideInfo.get('title')?.hasError('required')">
            <strong>Es necesario el título de la guía</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appareance="fill">
          <mat-label>Descripción</mat-label>
          <textarea type="text" matInput [formControl]="guideInfo.controls.description"
            placeholder="Breve descripción de la guía" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" #inputDescription minlength="40" maxlength="200"></textarea>
          <mat-hint align="start">{{inputDescription.value.length}}/200 (mínimo 40 caracteres)</mat-hint>
          <mat-error *ngIf="guideInfo.get('description')?.hasError('required')">
            <strong>Es necesaria una descripción de la guía</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Tipos de la guía *</mat-label>
          <mat-chip-grid #chipGrid1 aria-label="Guide types">
            @for (guideType of chosenTypes; track guideType) {
            <mat-chip-row #chipRow1 (removed)="removeType(guideType)">
              {{guideType}}
              <button matChipRemove [attr.aria-label]="'remove ' + guideType">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="Introduzca los tipos de guía" #guideTypeInput formControlName="guideTypes"
            [matChipInputFor]="chipGrid1" [matAutocomplete]="auto"/>
          <mat-hint align="start">{{chosenTypes.length}}/5 (mínimo 1 tipo de guía)</mat-hint>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedType($event)">
            @for (guideType of filteredTypes | async; track guideType) {
            <mat-option [value]="guideType" *ngIf="!chosenTypes.includes(guideType | titlecase)">{{guideType |
              titlecase}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Ingredientes / materiales</mat-label>
          <mat-chip-grid #chipGrid2 aria-label="Enter ingredients">
            @for (ingredient of ingredients; track ingredient) {
            <mat-chip-row #chipRow2 (removed)="removeIngredient(ingredient)" [editable]="true"
              (edited)="editIngredient(ingredient, $event)" [aria-description]="'press enter to edit ' + ingredient">
              {{ingredient}}
              <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="Introduzca ingredientes o materiales necesarios para la guía" [maxLength]="100"
              [matChipInputFor]="chipGrid2" [matChipInputSeparatorKeyCodes]="separatorKeysCodesIngredients"
              [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="addIngredient($event)" />
          </mat-chip-grid>
          <mat-hint align="start">{{ingredients.length}}/25 (máximo 25 ingredientes)</mat-hint>
        </mat-form-field>
        <input type="file" accept="image/*" (change)="onFileChanged($event)">
        <div class="alignFlexColumn mt-4" *ngIf="loadedImage">
          <p>Imagen actualmente seleccionada</p>
          <button type="button" mat-flat-button class="mt-2 mb-2" color="warn"
            (click)="deleteImage()">Eliminar imagen</button>
          <img mat-card-image [src]="loadedImage"
            alt="No se ha podido cargar la imagen correctamente">
        </div>
        <div class="alignFlex">
          <button mat-flat-button class="buttonSpace" routerLink="/home" routerLinkActive="active"
            color="warn">Cancelar</button>
          <button mat-flat-button [disabled]="!guideInfo.valid || chosenTypes.length < 1" class="buttonSpace"
            color="primary" (click)="guideCreate()">Crear guía</button>
        </div>
      </form>
    </div>
  </div>
</div>