<div class="page">
  <div class="row mt-4">
    <div class="col main-column">
      <div class="title">
        <h1>Guías que te podrían interesar</h1>
      </div>
      <div class="guide-type">
        <h2>Guías que te podrían interesar</h2>
      </div>
      <mat-button-toggle-group [value]="selectedType" #group="matButtonToggleGroup"
        (change)="onTypeChange(group.value)">
        <mat-button-toggle *ngFor="let type of userData.preferences" (click)="findNewestGuidesByPreference(type)">{{
          type | titlecase }}</mat-button-toggle>
      </mat-button-toggle-group>
      @if (userData.preferences.length > 0) {
      <div *ngIf="(preferredGuides | async) as guides; else noResultsPreferences" class="guides-wrapper">
        @if(guides.length > 0) {
        <div class="align-grid">
          <mat-card class="example-card" *ngFor="let guide of guides">
            <img mat-card-lg-image [src]="guide.thumbnail 
            ? 'data:image/jpeg;base64,' + guide.thumbnail 
            : '/assets/images/_11707f36-6180-48c1-b259-16214f3e3e34-logo.jpeg'">
            <mat-card-header>
              <mat-card-title>{{ guide.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ guide.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="visualizeGuide(guide.id)" >Visualizar guía</button>
              @if(!findGuideIsSaved(guide.id)) {
              <button mat-button color="accent" (click)="addSaved(guide.id)">Añadir a guardados</button>
              }
              @else {
              <button mat-button color="warn" (click)="deleteSaved(guide.id)">Eliminar de guardados</button>
              }
            </mat-card-actions>
          </mat-card>
        </div>
        }
        @else {
        <h3>No se ha encontrado información</h3>
        }
      </div>
      <ng-template #noResultsPreferences>
        <h3>Cargando información...</h3>
      </ng-template>
      }
      @else {
      <h3>No has elegido ninguna tipo de guía afin a tus gustos;
        puedes cambiar esta información en el apartado de "Configuración"</h3>
      }
      <div class="guide-type">
        <h2>Guías recientemente añadidas</h2>
      </div>
      <div *ngIf="(newestGuides | async) as guides; else noResultsNewest" class="guides-wrapper">
        @if (guides.length > 0) {
        <div class="align-grid">
          <mat-card class="example-card" *ngFor="let guide of guides">
            <img mat-card-md-image [src]="guide.thumbnail 
                    ? 'data:image/jpeg;base64,' + guide.thumbnail 
                    : '/assets/images/_11707f36-6180-48c1-b259-16214f3e3e34-logo.jpeg'">
            <mat-card-header>
              <mat-card-title>{{ guide.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ guide.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Visualizar guía</button>
              <button mat-button>Añadir a guardados</button>
            </mat-card-actions>
          </mat-card>
        </div>
        }
        @else {
        <h3>No se ha encontrado información</h3>
        }
      </div>
      <ng-template #noResultsNewest>
        <h3>Cargando información...</h3>
      </ng-template>
    </div>
  </div>
</div>