<div class="page">
  <div class="alignFlexColumn">
    <div class="title" *ngIf="restoredGuide">
      <h1>{{ restoredGuide.title }}</h1>
    </div>
    <div id="stepInput">
      <form [formGroup]="stepsForm">
        <div formArrayName="steps" class="alignFlexColumn">
          <div *ngFor="let step of stepsForm.controls.steps.controls; let i = index" class="alignFlexColumn">
            <div [formGroupName]="i" class="whiteCard-step"
              *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)">
              <h2>Paso número {{i+1}}</h2>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Título</mat-label>
                <input type="text" matInput #inputTitle formControlName="title" placeholder="Título del paso {{i+1}}"
                  [maxLength]="50">
                <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
                <mat-error *ngIf="step.controls.title.touched && step.controls.title.hasError('required')">
                  <strong>Es necesario el título del paso</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Descripción</mat-label>
                <textarea type="text" matInput formControlName="description" placeholder="Breve descripción de la guía"
                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  #inputDescription [minLength]="50" [maxLength]="400"></textarea>
                <mat-hint align="start">{{inputDescription.value.length}}/400 (mínimo 50 caracteres)</mat-hint>
                <mat-error *ngIf="step.controls.description.touched && step.controls.description.hasError('required')">
                  <strong>Es necesaria una descripción del paso</strong>
                </mat-error>
              </mat-form-field>
              <input type="file" formControlName="imageFileInput" accept="image/*" class="imageInput"
                (change)="updateStepImage(i, $event)">
              <div class="alignFlexColumn mt-3 mb-3" *ngIf="step.controls.imageBase64.value !== '' 
                && step.controls.loadedImage.getRawValue() === null">
                <p>Imagen actualmente seleccionada</p>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="step.controls.modifying.value" (click)="deleteImage(i)">Eliminar imagen</button>
                <img mat-card-image [src]="'data:image/jpeg;base64,' + step.controls.imageBase64.value" 
                  alt="No se ha podido cargar la imagen correctamente">
              </div>
              <div class="alignFlexColumn mt-3 mb-3" *ngIf="step.controls.loadedImage.getRawValue() !== null">
                <p>Imagen actualmente seleccionada</p>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="step.controls.modifying.value" (click)="deleteImage(i)">Eliminar imagen</button>
                <img mat-card-image [src]="step.controls.loadedImage.getRawValue()" alt="No se ha podido cargar la imagen correctamente">
              </div>
              <div class="alignFlex mt-4">
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="stepsForm.controls.steps.controls.length > 1" (click)="deleteStep(i)">Eliminar paso</button>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="accent"
                  *ngIf="step.controls.modifying.value && step.controls.saved.value" (click)="cancelChanges(i)">Cancelar cambios</button>
                <button type="button" mat-flat-button [disabled]="!step.valid" class="buttonSpace mx-5" color="primary"
                  (click)="saveStep(i)" *ngIf="step.controls.modifying.value">Guardar paso</button>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="accent" (click)="modifyStep(i)"
                  *ngIf="!step.controls.modifying.value">Modificar paso</button>
              </div>
            </div>
            <div *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)" class="nextStepContainer">
              <hr class="divider">
              <button type="button"
                mat-flat-button color="primary" (click)="addStep(i)" [disabled]="nextStepValid(i)">
                {{ getCreateButtonText(i) }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="optionsDivDown">
      <mat-paginator class="mx-2" #paginator [length]="stepsForm.controls.steps.controls.length" [pageSize]="4"
        [pageSizeOptions]="[4, 8, 20]" aria-label="Select page" [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)">
      </mat-paginator>
      <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Opciones</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/tutodo/guide-modify-info"
           routerLinkActive="active">Modificar información básica</button>
        <button mat-menu-item [routerLink]="'/tutodo/guide-see/' + guideId" routerLinkActive="active">
          Visualizar guía</button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="mt-2 mb-2" (click)="showInfo()">Mostrar información sobre esta página</button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/tutodo/home" routerLinkActive="active">Volver a la página principal</button>
      </mat-menu>
    </div>
  </div>
</div>