<div class="page">
  <div class="alignFlexColumn" *ngIf="!showGuideInfo">
    <div class="title">
      <h1>{{ guideTitle }}</h1>
    </div>
    <div id="stepInput">
      <form [formGroup]="stepsForm">
        <div formArrayName="steps" class="alignFlexColumn">
          <div *ngFor="let step of steps.controls; let i = index" class="alignFlexColumn">
            <div [formGroupName]="i" class="whiteCard-step"
              *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)">
              <h2>Paso número {{i+1}}</h2>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Título</mat-label>
                <input type="text" matInput #inputTitle formControlName="title" placeholder="Título del paso {{i+1}}"
                  [maxLength]="50">
                <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
                <mat-error *ngIf="step.controls.title.touched && step.controls.title.hasError('required')">
                  <strong>Es necesario el título del paso</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Descripción</mat-label>
                <textarea type="text" matInput formControlName="description" placeholder="Breve descripción de la guía"
                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  #inputDescription [maxLength]="200"></textarea>
                <mat-hint align="start">{{inputDescription.value.length}}/400 (mínimo 50 caracteres)</mat-hint>
                <mat-error *ngIf="step.controls.description.touched && step.controls.description.hasError('required')">
                  <strong>Es necesaria una descripción del paso</strong>
                </mat-error>
              </mat-form-field>
              <div class="alignFlex mt-4">
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="steps.controls.length > 1" (click)="cancelStep(i)">Eliminar paso</button>
                <button type="button" mat-flat-button [disabled]="!step.valid" class="buttonSpace mx-5" color="primary"
                  (click)="saveStep(i)" *ngIf="!step.controls.saved.value">Guardar paso</button>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="accent" (click)="modifyStep(i)"
                  *ngIf="step.controls.saved.value">Modificar paso</button>
              </div>
            </div>
            <div *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)" class="nextStepContainer">
              <hr class="divider">
              <button type="button" mat-flat-button color="primary mb-5" (click)="addStep(i)">Insertar paso</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="optionsDivDown">
      <mat-slide-toggle class="whiteCard-check mx-2" [checked]="isPublished" (change)="changePublished()">Estado de la
        guía:
        {{ isPublished ? 'publicado' : 'no publicado' }}</mat-slide-toggle>
      <mat-paginator class="mx-2" #paginator [length]="steps.controls.length" [pageSize]="4"
        [pageSizeOptions]="[4, 8, 20]" aria-label="Select page" [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)">
      </mat-paginator>
      <div class="btn-group dropend">
        <button type="button" class="btn btn-primary" (click)="saveProgress()">Guardar cambios</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item" type="button" (click)="showInfo()">Información</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" type="button" (click)="showModifyGuideInfo(true)">Modificar información
              básica</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" type="button" (click)="showInfo()">Salir del creador</button></li>
        </ul>
      </div>
    </div>
  </div>
  <!--------------------------------------------------->
  <div class="alignFlexColumn mt-4" *ngIf="showGuideInfo">
    <div class="whiteCard-guideInfo">
      <h1>Modificar información básica sobre la guía</h1>
      <form class="example-form" [formGroup]="guideInfo">
        <mat-form-field class="example-full-width" appareance="fill">
          <mat-label>Título</mat-label>
          <input type="text" matInput #inputTitle minlength="10" maxlength="50" formControlName="title"
            placeholder="Título de la guía">
          <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
          <mat-error *ngIf="guideInfo.get('title')?.hasError('required')">
            <strong>Es necesario el título de la guía</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appareance="fill">
          <mat-label>Descripción</mat-label>
          <textarea type="text" matInput formControlName="description" placeholder="Breve descripción de la guía"
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
            #inputDescription minlength="40" maxlength="100"></textarea>
          <mat-hint align="start">{{inputDescription.value.length}}/100 (mínimo 40 caracteres)</mat-hint>
          <mat-error *ngIf="guideInfo.get('description')?.hasError('required')">
            <strong>Es necesaria una descripción de la guía</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Tipos de la guía</mat-label>
          <mat-chip-grid #chipGrid [disabled]="isGuideTypeInput" aria-label="Guide types">
            @for (guideType of chosenTypes; track guideType) {
            <mat-chip-row (removed)="remove(guideType)">
              {{guideType}}
              <button matChipRemove [attr.aria-label]="'remove ' + guideType">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="Introduzca los tipos de guía" #guideTypeInput [disabled]="isGuideTypeInput"
            formControlName="guideTypes" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="_separatorKeysCodes" />
          <mat-hint align="start">{{chosenTypes.length}}/5 (mínimo 1 tipo de guía)</mat-hint>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (guideType of filteredTypes | async; track guideType) {
            <mat-option [value]="guideType" *ngIf="!chosenTypes.includes(guideType | titlecase)">{{guideType |
              titlecase}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <div class="optionsDivDown">
          <button mat-flat-button class="buttonSpace mx-4" color="warn" (click)="showModifyGuideInfo(false)">Volver a
            modificar
            pasos</button>
          <button mat-flat-button [disabled]="!guideInfo.valid || chosenTypes.length < 1" class="buttonSpace mx-4"
            color="primary" (click)="saveGuideInfo(true)" *ngIf="isModifyGuideInfo">Guardar información</button>
          <button mat-flat-button *ngIf="!isModifyGuideInfo" class="buttonSpace mx-4" color="primary" color="accent"
            (click)="modifyGuideInfo()">Modificar información</button>
        </div>
      </form>
    </div>
  </div>
</div>