<div class="page">
  <div class="alignFlexColumn" *ngIf="!showGuideInfo">
    <div class="title" *ngIf="restoredGuide">
      <h1>{{ restoredGuide.title }}</h1>
    </div>
    <div id="stepInput">
      <form [formGroup]="stepsForm">
        <div formArrayName="steps" class="alignFlexColumn">
          <div *ngFor="let step of stepsForm.controls.steps.controls; let i = index" class="alignFlexColumn">
            <div [formGroupName]="i" class="whiteCard-step"
              *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)">
              <h2>Paso número {{i+1}}</h2>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Título</mat-label>
                <input type="text" matInput #inputTitle formControlName="title" placeholder="Título del paso {{i+1}}"
                  [maxLength]="50">
                <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
                <mat-error *ngIf="step.controls.title.touched && step.controls.title.hasError('required')">
                  <strong>Es necesario el título del paso</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appareance="fill">
                <mat-label>Descripción</mat-label>
                <textarea type="text" matInput formControlName="description" placeholder="Breve descripción de la guía"
                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  #inputDescription [minLength]="50" [maxLength]="200"></textarea>
                <mat-hint align="start">{{inputDescription.value.length}}/400 (mínimo 50 caracteres)</mat-hint>
                <mat-error *ngIf="step.controls.description.touched && step.controls.description.hasError('required')">
                  <strong>Es necesaria una descripción del paso</strong>
                </mat-error>
              </mat-form-field>
              <input type="file" formControlName="imageFile" accept="image/*" class="imageInput"
                (change)="updateStepImage(i, $event)">
              <div class="alignFlexColumn mt-3 mb-3" *ngIf="step.controls.imageBase64.value !== '' && findLoadedImage(i) === undefined">
                <p>Imagen actualmente seleccionada</p>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="step.controls.modifying.value">Eliminar imagen</button>
                <img mat-card-image [src]="'data:image/jpeg;base64,' + step.controls.imageBase64.value" 
                  alt="No se ha podido cargar la imagen correctamente">
              </div>
              <div class="alignFlexColumn mt-3 mb-3" *ngIf="findLoadedImage(i) !== undefined">
                <p>Imagen actualmente seleccionada</p>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="stepsForm.controls.steps.controls.length > 1">Eliminar paso</button>
                <img mat-card-image [src]="findLoadedImage(i)?.image" alt="No se ha podido cargar la imagen correctamente">
              </div>
              <div class="alignFlex mt-4">
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="warn"
                  *ngIf="stepsForm.controls.steps.controls.length > 1" (click)="deleteStep(i)">Eliminar paso</button>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="accent"
                  *ngIf="step.controls.modifying.value && step.controls.saved.value" (click)="cancelChanges(i)">Cancelar cambios</button>
                <button type="button" mat-flat-button [disabled]="!step.valid" class="buttonSpace mx-5" color="primary"
                  (click)="saveStep(i)" *ngIf="step.controls.modifying.value">Guardar paso</button>
                <button type="button" mat-flat-button class="buttonSpace mx-5" color="accent" (click)="modifyStep(i)"
                  *ngIf="!step.controls.modifying.value">Modificar paso</button>
              </div>
            </div>
            <div *ngIf="showSteps(i, paginator.pageIndex, paginator.pageSize)" class="nextStepContainer">
              <hr class="divider">
              <button type="button" mat-flat-button color="primary" (click)="addStep(i)" [disabled]="nextStepValid(i)">
                {{ i % 4 === 3 ? 'Insertar paso en la siguiente página' : 'Insertar paso' }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="optionsDivDown">
      <mat-slide-toggle class="whiteCard-check mx-2" [checked]="isPublished" (change)="changePublished()">
        Estado de la guía:
        {{ isPublished ? 'publicado' : 'no publicado' }}</mat-slide-toggle>
      <mat-paginator class="mx-2" #paginator [length]="stepsForm.controls.steps.controls.length" [pageSize]="4"
        [pageSizeOptions]="[4, 8, 20]" aria-label="Select page" [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)">
      </mat-paginator>
      <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Opciones</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showModifyGuideInfo(true)">Modificar información básica</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="showInfo()">Mostrar información sobre esta página</button>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/tutodo/home" routerLinkActive="active">Volver a la página principal</a>
      </mat-menu>
    </div>
  </div>
  <!--------------------------------------------------->
  <div class="alignFlexColumn mt-4" *ngIf="showGuideInfo">
    <div class="whiteCard-guideInfo">
      <h1>Modificar información básica sobre la guía</h1>
      <form class="example-form" [formGroup]="guideInfo">
        <mat-form-field class="example-full-width" appareance="fill">
          <mat-label>Título</mat-label>
          <input type="text" matInput #inputTitle minlength="10" maxlength="50" formControlName="title"
            placeholder="Título de la guía">
          <mat-hint align="start">{{inputTitle.value.length}}/50 (mínimo 10 caracteres)</mat-hint>
          <mat-error *ngIf="guideInfo.get('title')?.hasError('required')">
            <strong>Es necesario el título de la guía</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appareance="fill">
          <mat-label>Descripción</mat-label>
          <textarea type="text" matInput formControlName="description" placeholder="Breve descripción de la guía"
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
            #inputDescription minlength="40" maxlength="100"></textarea>
          <mat-hint align="start">{{inputDescription.value.length}}/100 (mínimo 40 caracteres)</mat-hint>
          <mat-error *ngIf="guideInfo.get('description')?.hasError('required')">
            <strong>Es necesaria una descripción de la guía</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Tipos de la guía</mat-label>
          <mat-chip-grid #chipGrid1 [disabled]="enableInfoInputs" aria-label="Guide types">
            @for (guideType of chosenTypes; track enableInfoInputs) {
            <mat-chip-row (removed)="removeType(guideType)">
              {{guideType}}
              <button matChipRemove [attr.aria-label]="'remove ' + guideType">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="Introduzca los tipos de guía" #guideTypeInput [disabled]="enableInfoInputs"
            formControlName="guideTypes" [matChipInputFor]="chipGrid1" [matAutocomplete]="auto" />
          <mat-hint align="start">{{chosenTypes.length}}/5 (mínimo 1 tipo de guía)</mat-hint>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedType($event)">
            @for (guideType of filteredTypes | async; track guideType) {
            <mat-option [value]="guideType" *ngIf="!chosenTypes.includes(guideType | titlecase)">{{guideType |
              titlecase}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Ingredientes / materiales</mat-label>
          <mat-chip-grid [disabled]="enableInfoInputs" #chipGrid2 aria-label="Enter ingredients">
            @for (ingredient of ingredients; track ingredient) {
            <mat-chip-row #chipRow2 (removed)="removeIngredient(ingredient)" [editable]="true"
              (edited)="editIngredient(ingredient, $event)" [aria-description]="'press enter to edit ' + ingredient">
              {{ingredient}}
              <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input [disabled]="enableInfoInputs" placeholder="Introduzca ingredientes o materiales necesarios para la guía" formControlName="ingredients"
              [matChipInputFor]="chipGrid2" [matChipInputSeparatorKeyCodes]="separatorKeysCodesIngredients"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addIngredient($event)" />
          </mat-chip-grid>
        </mat-form-field>
        <input type="file" formControlName="imageFile" accept="image/*" class="imageInput"
          (change)="updateGuideThumbnail($event)">
        <div class="mt-3 mb-3" *ngIf="restoredGuide.thumbnail">
          <p>Imagen actualmente seleccionada:</p>
          <img mat-card-image [src]="'data:image/jpeg;base64,' + restoredGuide.thumbnail">
        </div>
        <div class="mt-3 mb-3" *ngIf="guideThumbnailLoaded">
          <p>Imagen actualmente seleccionada:</p>
          <img mat-card-image [src]="guideThumbnailLoaded">
        </div>
        <mat-slide-toggle class="whiteCard-check mx-2" [checked]="isPublished" (change)="changePublished()">
          Estado de la guía:
          {{ isPublished ? 'publicado' : 'no publicado' }}</mat-slide-toggle>
        <div class="optionsDivDown">
          <button mat-flat-button class="buttonSpace mx-4" color="warn" (click)="showModifyGuideInfo(false)">
            Volver a modificar pasos</button>
          <button mat-flat-button [disabled]="!guideInfo.valid || chosenTypes.length < 1" class="buttonSpace mx-4"
            color="primary" (click)="saveGuideInfo(true)" *ngIf="isModifyGuideInfo">Guardar información</button>
          <button mat-flat-button *ngIf="!isModifyGuideInfo" class="buttonSpace mx-4" color="primary" color="accent"
            (click)="enableGuideInfo()">Modificar información</button>
        </div>
      </form>
    </div>
  </div>
</div>